page-home {
    .Absolute-Center {
        width: 100%;
        height: 100%;
        margin: auto;
        position: absolute;
        top: 275px; left: 0; bottom: 0; right: 0;
     }
    .Example-center {
        text-align: center;
    }
    .Line{
        border-bottom: 3px solid ;
        top: 0px; left: 5px; bottom: 0; right: 0; 
        
    }
    .Button{
        top: 25px; 
        font-weight:bold
    }
}

